<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qw.kronerapp">

    <application
        android:name=".FirebaseOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Kroner"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KronerApp">
        <activity android:name=".OptionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".loading.LoadingAutobusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loading.NeverLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loading.LoadingKingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KingsCupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loading.LoadingActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NeverHaveIEverSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".neverHaveIEverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>